*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/unnamed.jpg);
    min-height: 100vh;
    display: flex;
    align-items:  center;
    justify-content: center;
}
.container{
    box-shadow: 5px 5px 60px white;
    border-radius: 15px;
    padding: 60px;
}
/*...................form css start............................*/
form{
    width: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
h1{
    color:springgreen;
}
.text{
    text-decoration: none;
}
.live-site{
    color:springgreen;
    font-size: 30px;
    margin-right: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;

}
form input{
background-color: rgb(239, 224, 204);
height: 48px;
width: 100%;
border: 2px solid powderblue;
border-radius: 4px;
box-sizing:  border-box;
padding: 16px;
font-size: 16px;

}

form input:focus{
    outline: none;
    border: 3px solid #2196f3;
}
form button{
    border: none;
    outline: none;
    background: #2196f3;
    color: white;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}
.move{
    transform: translateX(-200%);
}
/*...................form css end............................*/